<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %white([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n%rEx{full,
                io.reactivex.internal,
                io.netty.channel.AbstractChannelHandlerContext}
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="com.github.miguelaferreira" level="debug" />
    <logger name="io.kubernetes" level="debug" />
    <logger name="io.micronaut.kubernetes" level="debug" />
    <logger name="io.micronaut.http.client.DefaultHttpClient" level="debug" />
    <!--    <logger name="io.kubernetes.client.util" level="debug" />-->
</configuration>
